
.modal-md .modal-content {
  padding: 30px;
}

.modal-title{
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 24px;
}
.modal-title--large{ 
  font-size: 34px;
  text-align: center;
  font-weight: 600;
}

  .modal-content{
    background-color: #34393B;
    border: 1px solid #24DC86;
    color: #fff;
    border-radius: 0;
    padding: 50px 65px;
  }
  .modal-header{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: none; 
    justify-content: center;
  }

  .modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #24DC86;
    line-height: 0;
    font-weight: 400;
}

  .modal-header-top{ display: flex; padding: 1rem 1rem 1rem 1rem;}
  .modal-header-top__data,
  .modal-header-top__hora{
    height: 37px;
    font-size: 16px;
    border: 1px solid #24DC86;
    width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10px;
  }
  .modal-header-top__data{ color: #fff; background: #2DAD71}
  .modal-header-top__hora{ color: #24DC86;}

  .modal-separador{
    border-color: #24DC86;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .modal-body{ max-height: 60vh; overflow-y: auto; }
  .modal-body h5{ font-size: 16px; font-weight: 700;}

  .modal-lista-palestrantes {
    max-height: 200px;
    overflow-y: auto;
}

  .modal-lista-palestrantes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  .modal-lista-palestrantes ul li{ margin-bottom: 10px;}
  .palestrante-mini-card{ display: flex;}
  .palestrante-mini-card-d{}
  .palestrante-mini-card-d img {  width: 95px;}
  .palestrante-mini-card-e{ padding-left: 20px;}
  .palestrante-mini-card-e h5{ font-size: 24px; font-weight: 700; }
  .palestrante-mini-card-e p{font-size: 13px;}
  .palestrante-mini-card-image{}
  .palestrante-mini-card-content{}

  @media (min-width: 992px){
    .modal-lg, .modal-xl {
      max-width: 970px;
    }
  }



  